# Data
yfinance==0.2.54
pandas==2.2.3
numpy==1.26.4

# Machine Learning
scikit-learn==1.5.2
joblib==1.4.2
tensorflow==2.16.2

# Technical Indicators
ta==0.11.0

# Visualization
matplotlib==3.9.2
plotly==5.22.0

# Dashboard
streamlit==1.40.1
